@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Zen+Old+Mincho&display=swap');

.noto-sans {
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

.noto-sans-jp {
    font-family: "Noto Sans JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.zen-old-mincho {
    font-family: "Zen Old Mincho", serif;
    font-style: normal;
}