name: CI/CD Pipeline

permissions:
  packages: write
  contents: read

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          tags: ghcr.io/${{ github.actor }}/${{ github.event.repository.name }}:latest

  deploy:
    name: Deploy to VPS
    runs-on: ubuntu-latest
    needs: build-and-push

    steps:
      - name: Install SSH client
        run: sudo apt-get install -y openssh-client

      - name: Checkout code
        uses: actions/checkout@v3

      - name: List workspace files
        run: ls -al

      - name: Transfer docker-compose.yml to VPS
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo "$SSH_PRIVATE_KEY" > id_rsa
          chmod 600 id_rsa
          scp -o StrictHostKeyChecking=no -i id_rsa ./docker-compose.yml ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }}:~/minami-hp/

      # nginx.conf を送信
      - name: Transfer nginx.conf to VPS
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo "$SSH_PRIVATE_KEY" > id_rsa
          chmod 600 id_rsa
          scp -o StrictHostKeyChecking=no -i id_rsa ./nginx/nginx.conf ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }}:~/minami-hp/nginx/

      # デプロイ処理
      - name: Deploy to VPS
        env:
          SSH_PRIVATE_KEY: ${{ secrets.SSH_PRIVATE_KEY }}
        run: |
          echo "$SSH_PRIVATE_KEY" > id_rsa
          chmod 600 id_rsa
          ssh -o StrictHostKeyChecking=no -i id_rsa ${{ secrets.VPS_USERNAME }}@${{ secrets.VPS_IP }} << EOF
            # Log in to GitHub Container Registry
            docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} -p ${{ secrets.GHCR_PAT }}
          
            # Pull the latest image
            docker pull ghcr.io/${{ secrets.GHCR_USERNAME }}/${{ github.event.repository.name }}:latest
          
            # Change to the Docker Compose directory
            cd ~/minami-hp
          
            # Generate .env file
            echo "EMAIL_FROM=${{ secrets.EMAIL_FROM }}" > .env
            echo "EMAIL_TO=${{ secrets.EMAIL_TO }}" >> .env
            echo "EMAIL_PASS=${{ secrets.EMAIL_PASS }}" >> .env
            echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> .env
            echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> .env
            echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> .env
            echo "S3_BUCKET=${{ secrets.S3_BUCKET }}" >> .env
            echo "ADMIN_PASSWORD=${{ secrets.ADMIN_PASSWORD }}" >> .env
            echo "ADMIN_JWT_SECRET=${{ secrets.ADMIN_JWT_SECRET }}" >> .env
            echo "UPSTASH_REDIS_REST_URL=${{ secrets.UPSTASH_REDIS_REST_URL }}" >> .env
            echo "UPSTASH_REDIS_REST_TOKEN=${{ secrets.UPSTASH_REDIS_REST_TOKEN }}" >> .env
          
            # Restart services with the new configuration
            docker-compose down
            docker-compose up -d
          EOF